---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #393B79;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


html {
  // background: url(../img/Electronics_factory_in_Shenzhen-min.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color:$text-color;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    margin: 20px 0;
    padding: 0;
}

h2 {
    font-size: 3.0rem;
    font-weight: 100;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    margin: 40px 0 1.2rem 0;
    padding: 0;
}

p.subtitle {
  font-size: 1.1em;
  color : #65737F
}

.horizontal-rule:after {
    content: '';
    display: block;
    width: 4rem;
    height: 4px;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    background-color: $brand-color;
}

#particles {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left :0;
  z-index:-1;
}

#splash {
  .splash-visual {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: $background-color;
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 3.5rem;
    border-radius: .25rem;
    overflow: hidden;
    animation: fadeInDown .5s ease;
    box-shadow: 0 0 120px rgba(0,0,0,0.25);
  }
}

@keyframes fadeInDown {

  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


#calls {
  text-align: center;
  margin : 2em 0;
}

#description {
  background-color:$background-color;
  margin-top: 5em;
  padding: 4em 0 4em 0;
  h5 {
    font-size: 1.7em;
  }
}

#features {
  background-color:$background-color;
  .features-image {
    padding : 1.5em 0;
  }
  img {
    box-shadow: 0 0 120px rgba(0,0,0,0.25);
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 30%;
    width : 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  li {
    padding: 10px 0;
    // margin: 0 15px;
    border-bottom: 1px dashed #eee;
    i {
      padding-right : 1em
    }
  }

  .more {
    font-size: 1.2rem
  }
}

#news {
  background: #F6F7F8;
  margin : 3em 0 0 0;
  padding : 2em 0;

  ul {
    margin: 4em 0;
    text-align: left;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

#partners {

  background-color: $background-color;
  padding : 3em 0;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    padding-right: 2em
  }
  img {
    max-height: 5em;
    max-width: 20em;
  }
}

#contact {
  margin: 3em 0;
  text-align: center;
  h4 {
    width: 60%;
    margin: 0 auto;
  }
}
.header {
  text-align: center;
  padding : 6em 0;
}

hr {
  margin: 1em 0;
}

.lead {
  font-size: 1.5em;
}



#pricing {
  .header {
    margin:2em 0 ;
  }
  h5 {
    text-align: center;
  }

  .plan {
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
  }
  .plan li {
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px dashed #eee;
  }
  .plan li.plan-name {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    border-bottom: none;
  }
  .plan li.plan-price {
    color: #666;
    padding: 15px 0;
    font-size: 48px;
    border-bottom: none;
  }
  .plan li.plan-action {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 0;
  }
  .footnote {
    text-align: right;
    font-size: .8em;
  }
}

#services p {
    font-size: .9em;
    color: #555;
    margin: .6em 0;
    text-align: justify;
    line-height: 1.35em;
}

.comment .circle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
