<section id="features">
  <div class="header">
    <h2>Features</h2>
    <p class="lead">Here is a preview of what Topogram can do. <br />
    <small>Please request features via email at <a href="mailto:hi@topogram.io">hi@topogram.io</a> or on  <a href="http://github.com/topogram">github</a>.</small>
    </p>
  </div>
  <div id="pricing-table" class="row">
      <div class="four columns">
          <ul class="plan">
              <li class="plan-name">Data Mining</li>
              <!-- <li class="plan-price">$29</li> -->
              <li>Custom File Uploads*</li>
              <li>Chinese and English NLP</li>
              <li>Keywords extraction</li>
              <li>Word co-occurences networks</li>
              <li>Conversational networks</li>
              <li>API Users Rights Management*</li>
              <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
      <div class="four columns">
          <ul class="plan featured">
              <li class="plan-name">UI & Visualization</li>
              <!-- <li class="plan-price">$49</li> -->
              <li>Plain-text Search Dashboard</li>
              <li>Interactive Network visualizations</li>
              <li>Keywords stats & graphs</li>
              <li>Geographical Maps</li>
              <li>Time-axis and replay</li>
              <li>HTML5 Responsive Layout*</li>
              <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
      <div class="four columns">
          <ul class="plan">
              <li class="plan-name">Export</li>
              <!-- <li class="plan-price">$199</li> -->
              <li>Export plain-text search as CSV</li>
              <li>Save visualization as PNG</li>
              <li>Save as static HTML</li>
              <li>Save results as PDF*</li>
              <li>Export to LaTEX*</li>
              <li>Share online*</li>
              <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
  </div>
  <p class="footnote">* Unstable version.</p>
</section><!--/#pricing-->
