<div class="container">
  <h2>News & Updates</h2>
  <p class="subtitle horizontal-rule">What is happening around the Topogram community</p>
  <ul>
  {% for post in site.posts %}

      <li>
        <p>
          {% if post.link %}
            <a href="{{post.link}}" title={{post.title}} target="_blank">
          {% endif %}
          <strong>{{post.title}}</strong>
          {% if post.link %}
            </a>
          {% endif %}
          <br>
          <small>
            <time datetime="{{post.date}}">{{post.date | date: '%B %d, %Y' }}</time>
            {% if post.place %}
            - {{post.place}}, {{post.city}}
            {% endif %}
          </small>
        </p>
        </li>
  {% endfor %}
  </ul>
</div>
