<div class="container">
  <h2>Partners & sponsors</h2>
  <p class="subtitle horizontal-rule">
    Topogram is used and supported by research institutions. See how to <a href="/sponsors">become a sponsor</a>.</p>

  <ul id="logos">
    <li>
      <a href="http://ses.telecom-paristech.fr/">
        <img
          src="/uploads/logos/logo-TPT.png"
          title="ParisTech Telecom, Paris (France)"
          />
      </a>
    </li>
    <li>
      <a href="https://www.auvergnerhonealpes.fr">
        <img
          src="/uploads/logos/logo-arc-72dpi.jpg"
          title="Academic Research Community, Rhône Alpes (France)"
          />
      </a>
    </li>
    <li>
      <a href="http://merics.org">
        <img
          src="/uploads/logos/merics-logo.jpg"
          title="Mercator Institute for Chinese Studies, Berlin (Germany)."
          />
      </a>
    </li>
    <li>
      <a href="https://www.millenaire3.com">
        <img
          src="/uploads/logos/GrandLyon.png"
          title="Urban Community of Lyon (France)"
          />
      </a>
    </li>
    <li>
      <a href="http://epfl.ch">
        <img
          src="/uploads/logos/EPFL-Logo.jpg"
          title="Ecole Polytechnique Fédérale de Lausanne, Lausanne (Switzerland)"
          />
      </a>
    </li>
    <li>
      <a href="https://www.enssib.fr">
        <img
          src="/uploads/logos/enssib_logo.jpg"
          title="Ecole Nationale Supérieure des Bibliothèques, Lyon (France)"
          />
      </a>
    </li>
  </ul>
</div>
