<div class="container">
  <h2>Partners & sponsors</h2>
  <p class="subtitle horizontal-rule">
    Topogram is used and supported by research institutions. See how to <a href="/sponsors">become a sponsor</a>.</p>

  <ul id="logos">
    <li>
      <a href="http://epfl.ch">
        <img src="/uploads/logos/EPFL-Logo.jpg" />
      </a>
    </li>
    <li>
      <a href="http://merics.org">
        <img src="/uploads/logos/merics-logo.jpg" />
      </a>
    </li>
    <li>
      <a href="https://www.auvergnerhonealpes.fr">
        <img src="/uploads/logos/logo_region_rhone-alpes-2014.svg_.png" />
      </a>
    </li>
    <li>
      <a href="https://www.enssib.fr">
        <img src="/uploads/logos/enssib_logo.jpg" />
      </a>
    </li>
  </ul>
</div>
