  <!-- <div class="header">
    <h3>Features</h3>
    <p class="lead">Here is a preview of what Topogram can do. <br />
    <small>Please request features via email at <a href="mailto:{{site.email}}">{{site.email}}</a> or on  <a href="http://github.com/{{site.github_username}}">github</a>.</small>
    </p>
  </div> -->
  <div id="pricing-table" class="row">
      <div class="four columns">
          <ul class="plan">
            <!-- <li class="plan-price"></li> -->
            <li class="plan-name">Features</li>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
            <li>Keywords extraction</li>
            <li>Word co-occurences networks</li>
            <li>Conversational networks</li>
            <li>API Users Rights Management*</li>
            <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
      <div class="four columns">
          <ul class="plan featured">
              <li class="plan-price">
                ha
              </li>
              <!-- <li class="plan-name">Geographical maps</li> -->
              <li>Time-based navigation</li>
              <li>Geographical Maps</li>
              <li>Keywords stats & graphs</li>
              <li>Geographical Maps</li>
              <li>Time-axis and replay</li>
              <li>HTML5 Responsive Layout*</li>
              <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
      <div class="four columns">
          <ul class="plan">
              <!-- <li class="plan-name">Export</li> -->
              <li class="plan-price">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              </li>
              <li>Export plain-text search as CSV</li>
              <li>Save visualization as PNG</li>
              <li>Save as static HTML</li>
              <li>Save results as PDF*</li>
              <li>Export to LaTEX*</li>
              <li>Share online*</li>
              <!-- <li class="plan-action"><a href="#" class="button button-primary button-lg">Signup</a></li> -->
          </ul>
      </div><!--/.col-sm-4-->
  </div>
  <p class="footnote">* Unstable version.</p>
