<div class="container">
  <h5 class="subheader">Examples of topograms</h5>
</div>
<div class="container row flex-row">
  {% include
    card.html
    icon="graduation-cap"
    color="#4F135B"
    title="Mapping culture and academia networks"
    client="ARC5/Rhône-Alpes"
    link="https://app.topogram.io/3Fep7oZAFjqBnHLQR"
    img="/uploads/arc5.png"
    text="Quis adipiscing ac tempor turpis lacus, turpis lacus, eros sagittis lorem etiam, in sociis sociis risus nec dictumst, dolor vel diam porttitor pid turpis, sed, integer a non ultrices in, risus elementum phasellus sociis? Turpis turpis turpis, dis."
  %}
  {% include card.html
    img="/uploads/arc5.png"
    client="Gregory Bahde"
    icon="music"
    color="#393B79"
    title="Bandstour : music tour and carbon footprint"
    text="Quis adipiscing ac tempor turpis lacus, turpis lacus, eros sagittis lorem etiam, in sociis sociis risus nec dictumst, dolor vel diam porttitor pid turpis, sed, integer a non ultrices in, risus elementum phasellus sociis? Turpis turpis turpis, dis."
  %}
  {% include card.html
    img="/uploads/arc5.png"
    icon="star"
    color="#DE2910"
    client="EPFL/CHINA POLITICS"
    title="Local Political Networks in China"
    text="Quis adipiscing ac tempor turpis lacus, turpis lacus, eros sagittis lorem etiam, in sociis sociis risus nec dictumst, dolor vel diam porttitor pid turpis, sed, integer a non ultrices in, risus elementum phasellus sociis? Turpis turpis turpis, dis."
  %}
  {% include card.html
    img="/uploads/arc5.png"
    icon="globe"
    color="#293648"
    client="EPFL/CHINA POLITICS"
    title="Local Political Networks in China"
    text="Quis adipiscing ac tempor turpis lacus, turpis lacus, eros sagittis lorem etiam, in sociis sociis risus nec dictumst, dolor vel diam porttitor pid turpis, sed, integer a non ultrices in, risus elementum phasellus sociis? Turpis turpis turpis, dis."
  %}
  {% include card.html
    img="/uploads/arc5.png"
    icon="lock"
    color="#2ACA4B"
    client="EPFL/CHINA POLITICS"
    title="Local Political Networks in China"
    text="Quis adipiscing ac tempor turpis lacus, turpis lacus, eros sagittis lorem etiam, in sociis sociis risus nec dictumst, dolor vel diam porttitor pid turpis, sed, integer a non ultrices in, risus elementum phasellus sociis? Turpis turpis turpis, dis."
  %}
</div>
