body{
    background: url("../images/simple_dashed.png");
    overflow-x: hidden;
}

img {
    max-width:100% ;
}
.row{
    margin-top: 20px;
}

#header{
    margin-bottom:20px;
}

#footer{
    margin-top: 40px;
}

hr{
    margin-top: -15px;
    margin-bottom: 10px;
}

.learn img {
    border : 1px solid #ccc;
}
